:root {
  --primary: #0f172a;
  --secondary: #60a5fa;
  --table-primary: #f1f5f9;
  --table-secondary: #e2e8f0;
  --color: #fff;
  --error: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color);
  font-family: Arial, sans-serif;
  font-size: 20px;
  outline: none;
}

body {
  background-color: var(--primary);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  max-width: 100%;
  padding: 1rem;
}

section > div {
  width: 100%;
  display: flex;
}

.table-section {
  width: 50rem;
}

h1 {
  font-size: 4rem;
  color: var(--secondary);
}

input[type="text"] {
  padding: 1rem;
  background-color: var(--primary);
  border: thin solid var(--secondary);
  border-radius: 0.75rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 100%;
}

.do-it {
  border: thin solid var(--secondary);
  background-color: var(--secondary);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  width: 5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0.75;
}

.do-it:hover {
  opacity: 1;
  letter-spacing: 0.02rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
}

th,
td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--primary);
  max-width: 1px;
}

td:last-child {
  width: 15%;
}

th {
  color: var(--color);
  background-color: var(--secondary);
}

tr {
  background-color: var(--table-primary);
}

tr:nth-child(2n) {
  background-color: var(--table-secondary);
}

a {
  color: var(--primary);
}

#info {
  text-align: center;
  display: none;
  white-space: pre-wrap;
}

#next {
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0.75;
}

#next:hover {
  opacity: 1;
  letter-spacing: 0.02rem;
}
